body,
input,
select,
textarea {
  color: #000;
  font-family: "helvetica", sans-serif;
  font-size: 13px;
}
body a,
input a,
select a,
textarea a {
  outline: none;
}
header div.navbar-inner div.container h1 {
  color: #fff;
}
section.home {
  padding-top: 121px;
}
section.home form {
  margin-bottom: 60px;
}
section.home div.result h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
